.footer {
  display: flex;
  height: 150px;
  justify-content: center;
}

.footer .icon {
  font-size: 50px;
  margin: 50px 40px;
  color: #79b978;
}

.icon:hover {
  color: #61dc5f;
}

.background {
  background-color: #1c4a68;
}

.background p {
  text-align: center;
  color: white;
}
